<a href="https://colab.research.google.com/github/akash-soni/Data_Science_masters_pro/blob/python/Controlflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic If-Else Statements:
1. Write a Python program to check if a given number is positive or negative.

In [1]:
input_num = eval(input("input number: "))
if input_num > 0 :
  print("number is +ve")
else:
  print("number is -ve")

input number: -6
number is -ve

2. Create a program that determines if a person is eligible to vote based on their age.

In [2]:
age = eval(input("enter your age: "))
if age >= 18:
  print("elgible to vote")
else:
  print("not eligible to vote")

enter your age: 12
not eligible to vote

3. Develop a program to find the maximum of two numbers using if-else statements.

In [4]:
num1 = eval(input("enter number1: "))
num2 = eval(input("enter number2: "))

if num1 > num2:
  print(f"{num1} is greater ")
elif num1 == num2:
  print(f"{num1} is equal to {num2}")
else:
  print(f"{num2} is greater")

enter number1: 45
enter number2: 46
46 is greater

4. Write a Python script to classify a given year as a leap year or not.

In [5]:
year=int(input("Enter year to be checked:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("The year is a leap year!")
else:
    print("The year isn't a leap year!")

Enter year to be checked:1994
The year isn't a leap year!

5. Create a program that checks whether a character is a vowel or a consonant.

In [7]:
vowels = ['a','e','i','o','u']
input_char = str(input("enter character: "))
if input_char.lower() in vowels:
  print("entered character is vowel")
else:
  print("entered character is consonent")

enter character: g
entered character is consonent

6. Implement a program to determine whether a given number is even or odd.

In [8]:
number=int(input("Enter number: "))
if number%2==0:
  print(f"{number} is even")
else:
  print(f"{number} is odd")

Enter number: 43
43 is odd

7. Write a Python function to calculate the absolute value of a number without using the `abs()` function.

In [10]:
a = 5
b = 7
sub = a - b
if sub < 0:
  sub = -1 * sub

print(f"absolute value of |{a} - {b}| = {sub}")

absolute value of |5 - 7| = 2

8. Develop a program that determines the largest of three given numbers using if-else statements.

In [11]:
a = 5
b = 4
c = 7

largest = 0

if a > b and a > c:
    largest = a
if b > a and b > c:
    largest = b
if c > a and c > b:
    largest = c

print(largest, "is the largest of three numbers.")

7 is the largest of three numbers.

9. Create a program that checks if a given string is a palindrome.

In [12]:
input_string = "madam"

if input_string == input_string[::-1]:
  print("string is palindrome")
else:
  print("string is not palindrome")

string is palindrome

10. Write a Python program to calculate the grade based on a student's score.
Nested If-Else Statements:

In [14]:
score = 13

if score >= 90:
    print("Grade: A")
else:
    if score >= 70:
        print("Grade: B")
    else:
        if score >= 50:
            print("Grade: C")
        else:
            if score >= 40:
                print("Grade: D")
            else:
                print("Grade: Fail")

Grade: Fail

11. Write a program to find the largest among three numbers using nested if-else statements.

In [17]:
a = 5
b = 4
c = 7

largest = 0

if a > b and a > c:
    largest = a
if b > a and b > c:
    largest = b
if c > a and c > b:
    largest = c

print(largest, "is the largest of three numbers.")

7 is the largest of three numbers.

12. Implement a program to determine if a triangle is equilateral, isosceles, or scalene.

In [18]:
x = 8
y = 7
z = 9

# _Check for equilateral triangle
if x == y == z:
    print("Equilateral Triangle")

# Check for isosceles triangle
elif x == y or y == z or z == x:
    print("Isosceles Triangle")

# Otherwise scalene triangle
else:
    print("Scalene Triangle")

Scalene Triangle

13. Develop a program that checks if a year is a leap year and also if it is a century year.

In [1]:
def is_leap_year(year):
    # Check if the year is divisible by 4 and not divisible by 100
    # or it is divisible by 400
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

def is_century_year(year):
    # Check if the year is divisible by 100
    if year % 100 == 0:
        return True
    else:
        return False

# Input year from the user
try:
    year = int(input("Enter a year: "))

    if is_leap_year(year):
        print(f"{year} is a leap year.")
    else:
        print(f"{year} is not a leap year.")

    if is_century_year(year):
        print(f"{year} is a century year.")
    else:
        print(f"{year} is not a century year.")
except ValueError:
    print("Invalid input. Please enter a valid year (integer).")

Enter a year: 2000
2000 is a leap year.
2000 is a century year.

14. Write a Python script to determine if a number is positive, negative, or zero.

In [27]:
number = int(input("Enter a number: "))

if number > 0:
    print(f"{number} is positive")
else:
    if number == 0:
        print(f"{number} is zero")
    else:
        print(f"{number} is negative")

Enter a number: -8
-8 is negative

15. Create a program to check if a person is a teenager (between 13 and 19 years old).

In [3]:
age = int(input("Enter a age: "))
if (age>=13 and age<=19):
  print("teenger")
else:
  print("not teengager")

Enter a age: 54
not teengager

16. Develop a program that determines the type of angle based on its measure (acute, obtuse, or right).

In [4]:
def angle_type(angle):
    if angle < 90:
        return "Acute Angle"
    elif angle == 90:
        return "Right Angle"
    else:
        return "Obtuse Angle"

try:
    angle = float(input("Enter the angle measure in degrees: "))

    if angle >= 0 and angle < 180:
        angle_classification = angle_type(angle)
        print(f"The angle with measure {angle} degrees is classified as a {angle_classification}.")
    else:
        print("Invalid input. Please enter an angle measure between 0 and 180 degrees.")
except ValueError:
    print("Invalid input. Please enter a valid angle measure (numeric).")

Enter the angle measure in degrees: 54
The angle with measure 54.0 degrees is classified as a Acute Angle.

17. Write a Python program to calculate the roots of a quadratic equation.

**Roots**
x = (-b Â± sqrt(b^2 - 4ac)) / (2a)

In [6]:
import math

def quad_roots(a,b,c):
  val = (b**2)- (4*a*c)
  if val > 0:
    # Two distinct real roots
    pos_root = ((-1*b) + math.sqrt(val))/(2*a)
    neg_root = ((-1*b) - math.sqrt(val))/(2*a)
    print(f"The roots are real and distinct: {pos_root} and {neg_root}")
  elif ValueError == 0:
    # One real root (a repeated root)
    root = -b / (2*a)
    print(f"The root is real and repeated: {root}")
  else:
    # Complex roots
    real_part = -b / (2*a)
    imaginary_part = math.sqrt(abs(val)) / (2*a)
    print(f"The roots are complex: {real_part} + {imaginary_part}i and {real_part} - {imaginary_part}i")

In [7]:

a = float(input("Enter the coefficient 'a': "))
b = float(input("Enter the coefficient 'b': "))
c = float(input("Enter the coefficient 'c': "))

quad_roots(a,b,c)

Enter the coefficient 'a': 1
Enter the coefficient 'b': 2
Enter the coefficient 'c': 4
The roots are complex: -1.0 + 1.7320508075688772i and -1.0 - 1.7320508075688772i

In [8]:

a = float(input("Enter the coefficient 'a': "))
b = float(input("Enter the coefficient 'b': "))
c = float(input("Enter the coefficient 'c': "))

quad_roots(a,b,c)

Enter the coefficient 'a': 1
Enter the coefficient 'b': 3
Enter the coefficient 'c': -2
The roots are real and distinct: 0.5615528128088303 and -3.5615528128088303

In [9]:

a = float(input("Enter the coefficient 'a': "))
b = float(input("Enter the coefficient 'b': "))
c = float(input("Enter the coefficient 'c': "))

quad_roots(a,b,c)

Enter the coefficient 'a': 3
Enter the coefficient 'b': 1
Enter the coefficient 'c': 5
The roots are complex: -0.16666666666666666 + 1.2801909579781012i and -0.16666666666666666 - 1.2801909579781012i

18. Implement a program to determine the day of the week based on a user-provided number (1 for Monday, 2 for Tuesday, etc.).

In [10]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
number = int(input("Enter a number: "))

if number>=1 and number<=7:
  day = weekdays[number-1]
  print(f"{number} day of week is {day}")
else:
  print("entered number is incorrect")

Enter a number: 4
4 day of week is Thursday

19. Create a program that determines if a year is a leap year and also if it is evenly divisible by 400.

In [11]:
def is_leap_year(year):
    # Check if the year is divisible by 4 and not divisible by 100
    # or it is divisible by 400
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

year = int(input("Enter a year: "))

if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2004
2004 is a leap year.

20. Develop a program that checks if a given number is prime or not using nested if-else statements.

In [12]:
try:
    num = int(input("Enter a number: "))

    if num <= 1:
        print(f"{num} is not a prime number.")
    elif num == 2:
        print(f"{num} is a prime number.")
    else:
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break

        if is_prime:
            print(f"{num} is a prime number.")
        else:
            print(f"{num} is not a prime number.")
except ValueError:
    print("Invalid input. Please enter a valid integer.")

Enter a number: 7
7 is a prime number.

Elif Statements:

21. Write a Python program to assign grades based on different ranges of scores using elif statements.

In [13]:
score = 13
if(score>=90):
    print("Grade: A")
elif(score>=70 and score<90):
    print("Grade: B")
elif(score>=50 and score<70):
    print("Grade: C")
elif(score>=40 and score<50):
    print("Grade: D")
else:
    print("Grade: Fail")

Grade: Fail

22. Implement a program to determine the type of a triangle based on its angles.

In [16]:
angle1 = float(input("Enter the measure of the first angle: "))
angle2 = float(input("Enter the measure of the second angle: "))
angle3 = float(input("Enter the measure of the third angle: "))

# Check if the angles form a valid triangle (sum of angles equals 180 degrees)
if angle1 + angle2 + angle3 == 180:
    # Check the type of triangle based on angle measures
    if angle1 < 90 and angle2 < 90 and angle3 < 90:
        print("It's an Acute Triangle.")
    elif angle1 == 90 or angle2 == 90 or angle3 == 90:
        print("It's a Right Triangle.")
    else:
        print("It's an Obtuse Triangle.")
else:
    print("These angles do not form a valid triangle.")

Enter the measure of the first angle: 20
Enter the measure of the second angle: 120
Enter the measure of the third angle: 40
It's an Obtuse Triangle.

23. Develop a program to categorize a given person's BMI into underweight, normal, overweight, or obese using elif statements.

In [21]:
def weight_cal(weight):
  if weight > 0 and weight <= 200:
      if weight >= 100:
          print("Obese")
      elif weight >= 90:
          print("Overweight")
      elif weight >= 60:
          print("Normal")
      else:
          print("Underweight")
  else:
      print("Wrong data entered")

In [22]:
weight = float(input("Enter weight in kgs: "))
weight_cal(weight)

Enter weight in kgs: 0
Wrong data entered

In [23]:
weight = float(input("Enter weight in kgs: "))
weight_cal(weight)

Enter weight in kgs: 130
Obese

In [24]:
weight = float(input("Enter weight in kgs: "))
weight_cal(weight)

Enter weight in kgs: 98
Overweight

In [25]:
weight = float(input("Enter weight in kgs: "))
weight_cal(weight)

Enter weight in kgs: 36
Underweight

24. Create a program that determines whether a given number is positive, negative, or zero using elif statements.

In [26]:
number = int(input("Enter a number: "))

if number > 0:
  print(f"{number} is positive")
elif number == 0:
  print(f"{number} is zero")
else:
  print(f"{number} is negative")

Enter a number: 9
9 is positive

25. Write a Python script to determine the type of a character (uppercase, lowercase, or special) using elif statements.

In [28]:
# Input a character from the user
char = input("Enter a character: ")

# Check the type of character using elif statements
if char.isalpha():
    if char.islower():
        print(f"{char} is a lowercase letter.")
    elif char.isupper():
        print(f"{char} is an uppercase letter.")
else:
    print(f"{char} is a special character or digit.")

Enter a character: A
A is an uppercase letter.

26. Implement a program to calculate the discounted price based on different purchase amounts using elif statements.

In [29]:
def discount_calculate(item_price):
  if item_price<0:
    print("wrong price entered")
  elif item_price<500:
    discount = 0
  elif item_price<1000:
    discount = 0.10
  elif item_price<2000:
    discount = 0.15
  else:
    discount = 0.20
  # Calculate the discounted price
  discounted_price = item_price - (item_price * discount)

  if discount == 0:
      print(f"No discount applied. Total price: Rs{item_price:.2f}")
  else:
      print(f"Discounted price: Rs{discounted_price:.2f} (You saved Rs{item_price - discounted_price:.2f})")

In [31]:
item_price = float(input("Enter item_price: "))
discount_calculate(item_price)

Enter item_price: 75.6
No discount applied. Total price: $75.60

In [32]:
item_price = float(input("Enter item_price: "))
discount_calculate(item_price)

Enter item_price: 6100
Discounted price: $4880.00 (You saved $1220.00)

27. Develop a program to calculate the electricity bill based on different consumption slabs using elif statements.

In [36]:
def electric_bill(units):
  #program for calculating electricity bill in Python

  if(units<=100):
      payAmount=units*1.5
      fixedcharge=25.00
  elif(units<=200):
      payAmount=(100*1.5)+(units-100)*2.5
      fixedcharge=50.00
  elif(units<=300):
      payAmount=(100*1.5)+(200-100)*2.5+(units-200)*4
      fixedcharge=75.00
  elif(units<=350):
      payAmount=(100*1.5)+(200-100)*2.5+(300-200)*4+(units-300)*5
      fixedcharge=100.00
  else:
      payAmount=0
      fixedcharge=1500.00
  Total=payAmount+fixedcharge;
  print("\nElecticity bill=%.2f" %Total)

In [38]:
consumption = float(input("please enter the number of units you consumed in a month: "))
electric_bill(consumption)

please enter the number of units you consumed in a month: 200

Electicity bill=450.00

In [39]:
consumption = float(input("please enter the number of units you consumed in a month: "))
electric_bill(consumption)

please enter the number of units you consumed in a month: 431

Electicity bill=1500.00

28. Create a program to determine the type of quadrilateral based on its angles and sides using elif statements.

In [41]:
def type_quad(angle1,angle2,angle3,angle4,side1,side2,side3,side4):
  # Check the type of quadrilateral using elif statements
  if angle1 == angle2 == angle3 == angle4 == 90:
      if side1 == side2 == side3 == side4:
          print("It's a square.")
      else:
          print("It's a rectangle.")
  elif side1 == side2 == side3 == side4:
      if angle1 == angle2 == angle3 == angle4:
          print("It's a rhombus.")
      else:
          print("It's a parallelogram.")
  elif side1 == side3 and side2 == side4:
      if angle1 + angle2 + angle3 + angle4 == 360:
          print("It's a kite.")
      else:
          print("It's a quadrilateral with no special properties.")
  else:
      print("It's a quadrilateral with no special properties.")

In [42]:
# Input angle measures in degrees and side lengths from the user
angle1 = float(input("Enter the measure of angle 1 in degrees: "))
angle2 = float(input("Enter the measure of angle 2 in degrees: "))
angle3 = float(input("Enter the measure of angle 3 in degrees: "))
angle4 = float(input("Enter the measure of angle 4 in degrees: "))
side1 = float(input("Enter the length of side 1: "))
side2 = float(input("Enter the length of side 2: "))
side3 = float(input("Enter the length of side 3: "))
side4 = float(input("Enter the length of side 4: "))
type_quad(angle1,angle2,angle3,angle4,side1,side2,side3,side4)

Enter the measure of angle 1 in degrees: 90
Enter the measure of angle 2 in degrees: 90
Enter the measure of angle 3 in degrees: 90
Enter the measure of angle 4 in degrees: 90
Enter the length of side 1: 30
Enter the length of side 2: 40
Enter the length of side 3: 30
Enter the length of side 4: 40
It's a rectangle.

In [43]:
# Input angle measures in degrees and side lengths from the user
angle1 = float(input("Enter the measure of angle 1 in degrees: "))
angle2 = float(input("Enter the measure of angle 2 in degrees: "))
angle3 = float(input("Enter the measure of angle 3 in degrees: "))
angle4 = float(input("Enter the measure of angle 4 in degrees: "))
side1 = float(input("Enter the length of side 1: "))
side2 = float(input("Enter the length of side 2: "))
side3 = float(input("Enter the length of side 3: "))
side4 = float(input("Enter the length of side 4: "))
type_quad(angle1,angle2,angle3,angle4,side1,side2,side3,side4)

Enter the measure of angle 1 in degrees: 100
Enter the measure of angle 2 in degrees: 80
Enter the measure of angle 3 in degrees: 90
Enter the measure of angle 4 in degrees: 90
Enter the length of side 1: 30
Enter the length of side 2: 40
Enter the length of side 3: 30
Enter the length of side 4: 40
It's a kite.

29. Write a Python script to determine the season based on a user-provided month using elif statements.

In [44]:
# Input the month from the user
month = input("Enter a month (e.g., January, February, etc.): ")

# Convert the input to lowercase for case-insensitive comparison
month = month.lower()

# Determine the season using elif statements
if month == "march" or month == "april" or month == "may":
    season = "Spring"
elif month == "june" or month == "july" or month == "august":
    season = "Summer"
elif month == "september" or month == "october" or month == "november":
    season = "Autumn (Fall)"
elif month == "december" or month == "january" or month == "february":
    season = "Winter"
else:
    season = "Invalid month"

# Display the season or an error message
print(f"The season for {month.capitalize()} is {season}.")

Enter a month (e.g., January, February, etc.): december
The season for December is Winter.

30. Implement a program to determine the type of a year (leap or common) and month (30 or 31 days) using elif statements.

In [45]:
# Input the year and month from the user
year = int(input("Enter a year: "))
month = int(input("Enter a month (1 for January, 2 for February, etc.): "))

# Check if it's a leap year using the rules:
# Leap years are divisible by 4, except for years divisible by 100 but not by 400
is_leap_year = (year % 4 == 0 and (year % 100 != 0 or year % 400 == 0))

# Determine the number of days in the month using elif statements
if month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12:
    days_in_month = 31
elif month == 4 or month == 6 or month == 9 or month == 11:
    days_in_month = 30
elif month == 2:
    if is_leap_year:
        days_in_month = 29
    else:
        days_in_month = 28
else:
    days_in_month = -1  # Invalid month

# Display the results
if days_in_month == -1:
    print("Invalid month entered.")
else:
    if is_leap_year:
        year_type = "leap"
    else:
        year_type = "common"

    print(f"The year {year} is a {year_type} year, and the month {month} has {days_in_month} days.")

Enter a year: 2024
Enter a month (1 for January, 2 for February, etc.): 2
The year 2024 is a leap year, and the month 2 has 29 days.

## Basic Level:

1. Write a Python program that checks if a given number is positive, negative, or zero.

In [46]:
number = int(input("Enter a number: "))

if number > 0:
    print(f"{number} is positive")
else:
    if number == 0:
        print(f"{number} is zero")
    else:
        print(f"{number} is negative")

Enter a number: 0
0 is zero

2. Create a program to determine if a person is eligible to vote based on their age.

In [47]:
age = eval(input("enter your age: "))
if age >= 18:
  print("elgible to vote")
else:
  print("not eligible to vote")

enter your age: 34
elgible to vote

3. Write a program to find the maximum of two given numbers using conditional statements.

In [48]:
num1 = eval(input("enter number1: "))
num2 = eval(input("enter number2: "))

if num1 > num2:
  print(f"{num1} is greater ")
elif num1 == num2:
  print(f"{num1} is equal to {num2}")
else:
  print(f"{num2} is greater")

enter number1: 43
enter number2: 68
68 is greater

4. Develop a program that calculates the grade of a student based on their exam score.

In [49]:
score = 67
if(score>=90):
    print("Grade: A")
elif(score>=70 and score<90):
    print("Grade: B")
elif(score>=50 and score<70):
    print("Grade: C")
elif(score>=40 and score<50):
    print("Grade: D")
else:
    print("Grade: Fail")

Grade: C

5. Create a program that checks if a year is a leap year or not.

In [50]:
def is_leap_year(year):
    # Check if the year is divisible by 4 and not divisible by 100
    # or it is divisible by 400
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

year = int(input("Enter a year: "))

if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2023
2023 is not a leap year.

6. Write a program to classify a triangle based on its sides' lengths.

In [53]:
angle1 = float(input("Enter the measure of the first angle: "))
angle2 = float(input("Enter the measure of the second angle: "))
angle3 = float(input("Enter the measure of the third angle: "))

# Check if the angles form a valid triangle (sum of angles equals 180 degrees)
if angle1 + angle2 + angle3 == 180:
    # Check the type of triangle based on angle measures
    if angle1 < 90 and angle2 < 90 and angle3 < 90:
        print("It's an Acute Triangle.")
    elif angle1 == 90 or angle2 == 90 or angle3 == 90:
        print("It's a Right Triangle.")
    else:
        print("It's an Obtuse Triangle.")
else:
    print("These angles do not form a valid triangle.")

Enter the measure of the first angle: 60
Enter the measure of the second angle: 60
Enter the measure of the third angle: 60
It's an Acute Triangle.

7. Build a program that determines the largest of three given numbers.

In [54]:
a = 5
b = 4
c = 7

largest = 0

if a > b and a > c:
    largest = a
if b > a and b > c:
    largest = b
if c > a and c > b:
    largest = c

print(largest, "is the largest of three numbers.")

7 is the largest of three numbers.

8. Develop a program that checks whether a character is a vowel or a consonant.

In [55]:
vowels = ['a','e','i','o','u']
input_char = str(input("enter character: "))
if input_char.lower() in vowels:
  print("entered character is vowel")
else:
  print("entered character is consonent")

enter character: i
entered character is vowel

9. Create a program to calculate the total cost of a shopping cart based on discounts.

In [56]:
def discount_calculate(item_price):
  if item_price<0:
    print("wrong price entered")
  elif item_price<500:
    discount = 0
  elif item_price<1000:
    discount = 0.10
  elif item_price<2000:
    discount = 0.15
  else:
    discount = 0.20
  # Calculate the discounted price
  discounted_price = item_price - (item_price * discount)

  if discount == 0:
      print(f"No discount applied. Total price: Rs{item_price:.2f}")
  else:
      print(f"Discounted price: Rs{discounted_price:.2f} (You saved Rs{item_price - discounted_price:.2f})")

In [57]:
item_price = float(input("Enter item_price: "))
discount_calculate(item_price)

Enter item_price: 900
Discounted price: Rs810.00 (You saved Rs90.00)

10. Write a program that checks if a given number is even or odd.

In [58]:
number=int(input("Enter number: "))
if number%2==0:
  print(f"{number} is even")
else:
  print(f"{number} is odd")

Enter number: 78
78 is even

## Intermediate Level:

11. Write a program that calculates the roots of a quadratic equation .

In [59]:
import math

def quad_roots(a,b,c):
  val = (b**2)- (4*a*c)
  if val > 0:
    # Two distinct real roots
    pos_root = ((-1*b) + math.sqrt(val))/(2*a)
    neg_root = ((-1*b) - math.sqrt(val))/(2*a)
    print(f"The roots are real and distinct: {pos_root} and {neg_root}")
  elif ValueError == 0:
    # One real root (a repeated root)
    root = -b / (2*a)
    print(f"The root is real and repeated: {root}")
  else:
    # Complex roots
    real_part = -b / (2*a)
    imaginary_part = math.sqrt(abs(val)) / (2*a)
    print(f"The roots are complex: {real_part} + {imaginary_part}i and {real_part} - {imaginary_part}i")

In [ ]:

a = float(input("Enter the coefficient 'a': "))
b = float(input("Enter the coefficient 'b': "))
c = float(input("Enter the coefficient 'c': "))

quad_roots(a,b,c)

Enter the coefficient 'a': 1
Enter the coefficient 'b': 2
Enter the coefficient 'c': 4
The roots are complex: -1.0 + 1.7320508075688772i and -1.0 - 1.7320508075688772i

In [ ]:

a = float(input("Enter the coefficient 'a': "))
b = float(input("Enter the coefficient 'b': "))
c = float(input("Enter the coefficient 'c': "))

quad_roots(a,b,c)

Enter the coefficient 'a': 1
Enter the coefficient 'b': 3
Enter the coefficient 'c': -2
The roots are real and distinct: 0.5615528128088303 and -3.5615528128088303

In [ ]:

a = float(input("Enter the coefficient 'a': "))
b = float(input("Enter the coefficient 'b': "))
c = float(input("Enter the coefficient 'c': "))

quad_roots(a,b,c)

Enter the coefficient 'a': 3
Enter the coefficient 'b': 1
Enter the coefficient 'c': 5
The roots are complex: -0.16666666666666666 + 1.2801909579781012i and -0.16666666666666666 - 1.2801909579781012i

12. Create a program that determines the day of the week based on the day number (1-7).

In [60]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
number = int(input("Enter a number: "))

if number>=1 and number<=7:
  day = weekdays[number-1]
  print(f"{number} day of week is {day}")
else:
  print("entered number is incorrect")

Enter a number: 6
6 day of week is Saturday

13. Develop a program that calculates the factorial of a given number using recursion.

In [61]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Input a number from the user
try:
    num = int(input("Enter a non-negative integer: "))
    if num < 0:
        print("Factorial is not defined for negative numbers.")
    else:
        result = factorial(num)
        print(f"The factorial of {num} is {result}")
except ValueError:
    print("Invalid input. Please enter a non-negative integer.")

Enter a non-negative integer: 7
The factorial of 7 is 5040

14. Write a program to find the largest among three numbers without using the `max()` function.

In [62]:

def find_max(a,b,c):
  largest = 0

  if a > b and a > c:
      largest = a
  if b > a and b > c:
      largest = b
  if c > a and c > b:
      largest = c

  print(largest, "is the largest of three numbers.")

In [63]:
find_max(3,5,6)

6 is the largest of three numbers.

In [64]:
find_max(3,45,6)

45 is the largest of three numbers.

15. Create a program that simulates a basic ATM transaction menu.

In [65]:
account_balance = 1000.0

# Function to display the account balance
def display_balance():
    print(f"Your account balance is ${account_balance:.2f}")

# Function to deposit money
def deposit():
    global account_balance
    amount = float(input("Enter the amount to deposit: "))
    if amount > 0:
        account_balance += amount
        print(f"${amount:.2f} has been deposited into your account.")
    else:
        print("Invalid amount. Please enter a positive number.")

# Function to withdraw money
def withdraw():
    global account_balance
    amount = float(input("Enter the amount to withdraw: "))
    if amount > 0 and amount <= account_balance:
        account_balance -= amount
        print(f"You have withdrawn ${amount:.2f}.")
    elif amount > account_balance:
        print("Insufficient funds.")
    else:
        print("Invalid amount. Please enter a positive number.")

# Main ATM menu
while True:
    print("\nATM Menu:")
    print("1. Display Balance")
    print("2. Deposit Money")
    print("3. Withdraw Money")
    print("4. Exit")

    choice = input("Enter your choice (1/2/3/4): ")

    if choice == '1':
        display_balance()
    elif choice == '2':
        deposit()
    elif choice == '3':
        withdraw()
    elif choice == '4':
        print("Thank you for using our ATM. Goodbye!")
        break
    else:
        print("Invalid choice. Please select a valid option (1/2/3/4).")

ATM Menu:
1. Display Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Enter your choice (1/2/3/4): 1
Your account balance is $1000.00

ATM Menu:
1. Display Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Enter your choice (1/2/3/4): 2
Enter the amount to deposit: 9000
$9000.00 has been deposited into your account.

ATM Menu:
1. Display Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Enter your choice (1/2/3/4): 3
Enter the amount to withdraw: 700
You have withdrawn $700.00.

ATM Menu:
1. Display Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Enter your choice (1/2/3/4): 1
Your account balance is $9300.00

ATM Menu:
1. Display Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Enter your choice (1/2/3/4): 4
Thank you for using our ATM. Goodbye!

16. Build a program that checks if a given string is a palindrome or not.

In [66]:
input_string = "madam"

if input_string == input_string[::-1]:
  print("string is palindrome")
else:
  print("string is not palindrome")

string is palindrome

17. Write a program that calculates the average of a list of numbers, excluding the smallest and largest values.

In [76]:
lst = [34,53,5,6,7,3,65,34,4,3]

sorted_list = sorted(lst)

unique_list = []


for item in sorted_list:
    if item not in unique_list:
        unique_list.append(item)

unique_list = unique_list[1:-1]
avg = sum(unique_list)/len(unique_list)
print(f"Average without minimum and maximum value is {avg}")

Average without minimum and maximum value is 18.166666666666668

18. Develop a program that converts a given temperature from Celsius to Fahrenheit.

In [77]:
celsius = float(input("Enter temperature in Celsius: "))

# Convert Celsius to Fahrenheit using the formula (Celsius to Fahrenheit conversion)
fahrenheit = (celsius * 9/5) + 32

# Display the converted temperature in Fahrenheit
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit.")

Enter temperature in Celsius: 43
43.0 degrees Celsius is equal to 109.4 degrees Fahrenheit.

19. Create a program that simulates a basic calculator for addition, subtraction, multiplication, and division.

In [78]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y != 0:
        return x / y
    else:
        return "Division by zero is not allowed."

# Main calculator program
while True:
    print("\nCalculator Menu:")
    print("1. Addition")
    print("2. Subtraction")
    print("3. Multiplication")
    print("4. Division")
    print("5. Quit")

    choice = input("Enter your choice (1/2/3/4/5): ")

    if choice == '5':
        print("Goodbye!")
        break

    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print("Result:", add(num1, num2))
        elif choice == '2':
            print("Result:", subtract(num1, num2))
        elif choice == '3':
            print("Result:", multiply(num1, num2))
        elif choice == '4':
            print("Result:", divide(num1, num2))
    else:
        print("Invalid choice. Please select a valid option (1/2/3/4/5).")

Calculator Menu:
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Quit
Enter your choice (1/2/3/4/5): 1
Enter first number: 4
Enter second number: 5
Result: 9.0

Calculator Menu:
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Quit
Enter your choice (1/2/3/4/5): 2
Enter first number: 5
Enter second number: 3
Result: 2.0

Calculator Menu:
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Quit
Enter your choice (1/2/3/4/5): 3
Enter first number: 5
Enter second number: 52
Result: 260.0

Calculator Menu:
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Quit
Enter your choice (1/2/3/4/5): 4
Enter first number: 23
Enter second number: 4
Result: 5.75

Calculator Menu:
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Quit
Enter your choice (1/2/3/4/5): 5
Goodbye!

20. Write a program that determines the roots of a cubic equation using the Cardano formula.

In [80]:
import math

def cube_roots(a,b,c,d):
  # Calculate some intermediate values
    p = (3*a*c - b**2) / (3*a**2)
    q = (2*b**3 - 9*a*b*c + 27*a**2*d) / (27*a**3)
    discriminant = q**2/4 + p**3/27

    # Check the discriminant to determine the number and type of roots
    if discriminant > 0:
        # One real root, two complex roots
        root = (-q/2 + discriminant**0.5)**(1/3) + (-q/2 - discriminant**0.5)**(1/3) - b/(3*a)
        print(f"The root is real: {root:.4f}")
    elif discriminant == 0:
        # Three real roots (at least two are equal)
        if q >= 0:
            root1 = (-2*q)**(1/3) - b/(3*a)
            root2 = root3 = -root1/2 - b/(3*a)
        else:
            root1 = (-2*q)**(1/3) - b/(3*a)
            root2 = (q**2 - 4*p**3)**0.5 / (3*a) - b/(3*a)
            root3 = -(q**2 - 4*p**3)**0.5 / (3*a) - b/(3*a)
        print(f"The roots are real and at least two are equal: {root1:.4f}, {root2:.4f}, {root3:.4f}")
    else:
        # Three real roots
        phi = math.acos(-q/2 * (discriminant**(-3/2)))
        root1 = 2 * (-q/2)**(1/3) * math.cos(phi/3) - b/(3*a)
        root2 = 2 * (-q/2)**(1/3) * math.cos((phi + 2*math.pi)/3) - b/(3*a)
        root3 = 2 * (-q/2)**(1/3) * math.cos((phi - 2*math.pi)/3) - b/(3*a)
        print(f"The roots are real and distinct: {root1:.4f}, {root2:.4f}, {root3:.4f}")

In [81]:
    a = float(input("Enter the coefficient 'a': "))
    b = float(input("Enter the coefficient 'b': "))
    c = float(input("Enter the coefficient 'c': "))
    d = float(input("Enter the coefficient 'd': "))
    cube_roots(a,b,c,d)

Enter the coefficient 'a': 2
Enter the coefficient 'b': 2
Enter the coefficient 'c': 4
Enter the coefficient 'd': 1
The root is real: 0.7993+0.6219j

## Advanced Level:

21. Create a program that calculates the income tax based on the user's income and tax brackets.

In [84]:

def calculate_income_tax(income):
    # Define tax brackets and their corresponding rates
    tax_brackets = [(0, 250000), (250001, 500000), (500001, 750000), (750001, 1000000), (1000001, 1250000), (1250001, 1500000), (1500001, float('inf'))]
    tax_rates = [0, 0.05, 0.10, 0.15,0.20, 0.25, 0.3]  # Corresponding tax rates for each bracket

    # Initialize the total tax
    total_tax = 0

    # Calculate tax for each bracket
    for i, (lower, upper) in enumerate(tax_brackets):
        if income <= lower:
            break
        elif income >= upper:
            total_tax += (upper - lower) * tax_rates[i]
        else:
            total_tax += (income - lower) * tax_rates[i]
            break

    return total_tax

# Input income from the user
try:
    income = float(input("Enter your income: Rs "))

    if income < 0:
        print("Invalid income. Income cannot be negative.")
    else:
        # Calculate income tax
        income_tax = calculate_income_tax(income)
        print(f"Your income tax is: Rs{income_tax:.2f}")
except ValueError:
    print("Invalid input. Please enter a valid numeric income.")

Enter your income: Rs 900000
Your income tax is: Rs59999.70

22. Write a program that simulates a rock-paper-scissors game against the computer.

In [85]:
import random
def rps_game(user_choice):
  options = ["rock", "paper", "scissors"]
  computer_choice = random.choice(options)



  print("You chose: ", user_choice)
  print("Computer chose: ", computer_choice)


  if user_choice == computer_choice:
      print("It's a tie!")

  elif user_choice == "rock" and computer_choice == "scissors":
      print("You win!")
  elif user_choice == "paper" and computer_choice == "rock":
      print("You win!")
  elif user_choice == "scissors" and computer_choice == "paper":
      print("You win!")

  else:
      print("Computer wins!")

In [86]:
user_choice = input("Choose Rock, Paper, or Scissors: ")
options = ["rock", "paper", "scissors"]
if user_choice.lower() in options:
  rps_game(user_choice)
else:
  print("enter option correctly")

Choose Rock, Paper, or Scissors: abc
enter option correctly

In [87]:
user_choice = input("Choose Rock, Paper, or Scissors: ")
options = ["rock", "paper", "scissors"]
if user_choice.lower() in options:
  rps_game(user_choice)
else:
  print("enter option correctly")

Choose Rock, Paper, or Scissors: scissors
You chose:  scissors
Computer chose:  scissors
It's a tie!

In [88]:
user_choice = input("Choose Rock, Paper, or Scissors: ")
options = ["rock", "paper", "scissors"]
if user_choice.lower() in options:
  rps_game(user_choice)
else:
  print("enter option correctly")

Choose Rock, Paper, or Scissors: rock
You chose:  rock
Computer chose:  scissors
You win!

23. Develop a program that generates a random password based on user preferences (length, complexity).

In [91]:
import random
import string

# Function to generate a random password
def generate_password(length, use_uppercase, use_lowercase, use_digits, use_special_chars):
    # Define character sets for password generation
    uppercase_chars = string.ascii_uppercase if use_uppercase else ''
    lowercase_chars = string.ascii_lowercase if use_lowercase else ''
    digit_chars = string.digits if use_digits else ''
    special_chars = string.punctuation if use_special_chars else ''

    # Combine selected character sets
    all_chars = uppercase_chars + lowercase_chars + digit_chars + special_chars

    # Check if at least one character set is selected
    if not all_chars:
        return "Invalid preferences. Please select at least one character type."

    # Generate the password
    password = ''.join(random.choice(all_chars) for _ in range(length))

    return password

# Input user preferences
length = int(input("Enter the length of the password: "))
use_uppercase = input("Include uppercase letters? (y/n): ").lower() == 'y'
use_lowercase = input("Include lowercase letters? (y/n): ").lower() == 'y'
use_digits = input("Include digits? (y/n): ").lower() == 'y'
use_special_chars = input("Include special characters? (y/n): ").lower() == 'y'

# Generate and display the password
password = generate_password(length, use_uppercase, use_lowercase, use_digits, use_special_chars)
print(f"Generated Password: {password}")

Enter the length of the password: 10
Include uppercase letters? (y/n): y
Include lowercase letters? (y/n): y
Include digits? (y/n): y
Include special characters? (y/n): y
Generated Password: %h"YTk_5p~

24. Create a program that implements a simple text-based adventure game with branching scenarios.

![text-based-story-game-1536x864.png.webp]()

In [92]:
def scene1():
    import time
    print("""WELCOME TO THE ADVENTURE GAME!
        Let's start the action! â-ð¬-â

        Lily wakes up in her bedroom in the middle of the night. She heard a loud BAN outside the house.
        Now she has two choices she can either stay in the room or check what the sound might be about.

        Type your choice: Stay or Evaluate?
    """)

    c1 = input()
    time.sleep(2)
    ans = 'incorrect'
    while(ans=='incorrect'):
        if(c1.upper()=="STAY"):
            print("\nLily decides to stay in the room and ends up staying inside forever as noone seems to come to help her.")
            ans = 'correct'
        elif(c1.upper()=="EVALUATE"):
            print("Lily exits the room silently and reaches the main hall.")
            ans='correct'
            scene2()
        else:
            print("ENTER THE CORRECT CHOICE! Stay or Evaluate?")
            c1 = input()

In [93]:
def scene2():
    import time
    print("""
            In the main hall, she finds a strange but cute teddy bear on the floor.
            She wanted to pick the teddy up.
            But should she? It doesn't belong to her. (â¢Ë³Ìâ¢Ì)

            Type your choice: Pick or Ignore?

            """)
    time.sleep(2)
    c1 = input()
    ans = 'incorrect'
    while(ans=='incorrect'):
        if(c1.upper()=="PICK"):
            print("""\nThe moment Lily picked up the the teddy bear. The Teddy bear starts TALKING!The bear tells Lily that she is in grave danger as there is a monster in the house.And the monster has captured her PARENTS as well!But he hugged her and told her not to get scared as he knows how to beat the moster!""")
            time.sleep(2)
            print("""\nThe bear handed lily a magical potion which can weaken the moster and make him run away!He handed her the potion and then DISAPPEARED!Lily moved forward.""")
            ans = 'correct'
            pick="True"
        elif(c1.upper()=='IGNORE'):
            print("""\nLily decided not to pick up the bear and walked forward.""")
            ans='correct'
            pick="False"
        else:
            print("Wrong Input! Enter pick or ignore?")
            c1=input()
    time.sleep(2)
    scene3(pick)

In [94]:
def scene3(pick_value):
    import time
    print("""\n\nAfter walking for a while, Lily saw the MONSTOR in front of her!
    It had red eyes and evil looks. She got very scared! """)
    time.sleep(2)
    if(pick_value=="True"):
        time.sleep(2)
        print("""But then she remembered! She had the magic portion and she threw it on the moster!
              Well she had nothing to lose!""")
        time.sleep(2)
        print("\n The monster SCREAMED in pain but he managed to make a portal and pushed Lily to a new world!")
    elif(pick_value=="False"):
        print("The monster attacked Lily and hurt her! She was then thrown to the new world by the monster!")

In [96]:
scene1()
print("\n\n")
print("=================================END OF CHAPTER 1=================================")

WELCOME TO THE ADVENTURE GAME!
        Let's start the action! â-ð¬-â

        Lily wakes up in her bedroom in the middle of the night. She heard a loud BAN outside the house.
        Now she has two choices she can either stay in the room or check what the sound might be about.

        Type your choice: Stay or Evaluate?

Evaluate
Lily exits the room silently and reaches the main hall.

            In the main hall, she finds a strange but cute teddy bear on the floor.
            She wanted to pick the teddy up.
            But should she? It doesn't belong to her. (â¢Ë³Ìâ¢Ì)

            Type your choice: Pick or Ignore?


ignore

Lily decided not to pick up the bear and walked forward.


After walking for a while, Lily saw the MONSTOR in front of her!
    It had red eyes and evil looks. She got very scared!
The monster attacked Lily and hurt her! She was then thrown to the new world by the monster!



=================================END OF CHAPTER 1=================================

25. Build a program that solves a linear equation for x, considering different cases.

In [97]:
a = float(input("Enter the coefficient 'a': "))
b = float(input("Enter the coefficient 'b': "))

if a == 0:
    if b == 0:
        print("Infinite solutions. Any value of 'x' satisfies the equation.")
    else:
        print("No solution. The equation is inconsistent.")
else:
    x = -b / a
    print(f"The solution for 'x' is x = {x:.4f}")

Enter the coefficient 'a': 8
Enter the coefficient 'b': 4.6
The solution for 'x' is x = -0.5750

26. Write a program that simulates a basic quiz game with multiple-choice questions and scoring.

In [103]:
QUESTIONS = {
    "Which keyword do you use to loop over a given list of elements": [
        "for", "while", "each", "loop"
    ],
    "What's the purpose of the built-in zip() function": [
        "To iterate over two or more sequences at the same time",
        "To combine several strings into one",
        "To compress several files into one archive",
        "To get information from the user",
    ],
    "What's the name of Python's sorting algorithm": [
        "Timsort", "Quicksort", "Merge sort", "Bubble sort"
    ],
}

correct = 0
for question, alternatives in QUESTIONS.items():
    correct_answer = alternatives[0]
    sorted_alternatives = sorted(alternatives)
    for label, alternative in enumerate(sorted_alternatives):
        print(f"  {label}) {alternative}")

    answer_label = int(input(f"{question}? "))
    answer = sorted_alternatives[answer_label]
    if answer == correct_answer:
        correct+=1
        print("Correct!")
    else:
        print(f"The answer is {correct_answer!r}, not {answer!r}")

score = correct/len(QUESTIONS)
print(f"your score is {score*100:.2f}")

  0) each
  1) for
  2) loop
  3) while
Which keyword do you use to loop over a given list of elements? 1
Correct!
  0) To combine several strings into one
  1) To compress several files into one archive
  2) To get information from the user
  3) To iterate over two or more sequences at the same time
What's the purpose of the built-in zip() function? 1
The answer is 'To iterate over two or more sequences at the same time', not 'To compress several files into one archive'
  0) Bubble sort
  1) Merge sort
  2) Quicksort
  3) Timsort
What's the name of Python's sorting algorithm? 3
Correct!
your score is 66.67

27. Develop a program that determines whether a given year is a prime number or not.

In [104]:
def is_prime(year):
    if year <= 1:
        return False
    elif year <= 3:
        return True
    elif year % 2 == 0 or year % 3 == 0:
        return False
    i = 5
    while i * i <= year:
        if year % i == 0 or year % (i + 2) == 0:
            return False
        i += 6
    return True

# Input a year from the user
try:
    year = int(input("Enter a year: "))

    if is_prime(year):
        print(f"{year} is a prime year.")
    else:
        print(f"{year} is not a prime year.")
except ValueError:
    print("Invalid input. Please enter a valid numeric year.")

Enter a year: 1997
1997 is a prime year.

28. Create a program that sorts three numbers in ascending order using conditional statements.

In [105]:
a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))

if a > b:
    a,b = b,a
if a > c:
    a,c = c,a
if b > c:
    b,c = c,b

print (a, "<", b, "<", c)

Enter a: 3
Enter b: 1
Enter c: 90
1.0 < 3.0 < 90.0

29. Build a program that determines the roots of a quartic equation using numerical methods.

finding roots using Newton Rapson method

In [106]:
# Function to calculate the quartic equation: ax^4 + bx^3 + cx^2 + dx + e
def quartic_function(x, a, b, c, d, e):
    return a * x**4 + b * x**3 + c * x**2 + d * x + e

# Function to calculate the derivative of the quartic equation
def derivative_quartic_function(x, a, b, c, d):
    return 4 * a * x**3 + 3 * b * x**2 + 2 * c * x + d

# Function to find a root using the Newton-Raphson method
def newton_raphson_quartic(a, b, c, d, e, x0, tolerance, max_iterations):
    x = x0
    iteration = 0

    while iteration < max_iterations:
        f_x = quartic_function(x, a, b, c, d, e)
        df_x = derivative_quartic_function(x, a, b, c, d)
        x = x - f_x / df_x

        if abs(f_x) < tolerance:
            return x

        iteration += 1

    return None  # Root not found within max_iterations

# Input coefficients for the quartic equation
a = float(input("Enter coefficient 'a': "))
b = float(input("Enter coefficient 'b': "))
c = float(input("Enter coefficient 'c': "))
d = float(input("Enter coefficient 'd': "))
e = float(input("Enter coefficient 'e': "))

# Input initial guess, tolerance, and maximum iterations
x0 = float(input("Enter initial guess for the root: "))
tolerance = float(input("Enter tolerance (e.g., 1e-6): "))
max_iterations = int(input("Enter maximum iterations: "))

# Find a root using the Newton-Raphson method
root = newton_raphson_quartic(a, b, c, d, e, x0, tolerance, max_iterations)

if root is not None:
    print(f"The root of the quartic equation is approximately {root:.6f}")
else:
    print("Root not found within the specified maximum iterations.")

Enter coefficient 'a': 6
Enter coefficient 'b': 4
Enter coefficient 'c': 1
Enter coefficient 'd': 6
Enter coefficient 'e': 1
Enter initial guess for the root: 1
Enter tolerance (e.g., 1e-6): 2
Enter maximum iterations: 10
The root of the quartic equation is approximately -0.169015

30. Write a program that calculates the BMI (Body Mass Index) and provides health recommendations based
on the user's input.

In [107]:
# Function to calculate BMI
def calculate_bmi(weight_kg, height_m):
    return weight_kg / (height_m ** 2)

# Function to provide health recommendations based on BMI
def health_recommendations(bmi):
    if bmi < 18.5:
        return "You are underweight. Consider gaining some weight for better health."
    elif 18.5 <= bmi < 24.9:
        return "Your BMI is within the normal range. Maintain a healthy lifestyle."
    elif 25 <= bmi < 29.9:
        return "You are overweight. Consider losing some weight for better health."
    else:
        return "You are obese. It's important to consult a healthcare professional for guidance."

# Input weight (in kilograms) and height (in meters) from the user
try:
    weight_kg = float(input("Enter your weight in kilograms: "))
    height_m = float(input("Enter your height in meters: "))

    # Calculate BMI
    bmi = calculate_bmi(weight_kg, height_m)

    # Display BMI and health recommendations
    print(f"Your BMI is {bmi:.2f}")
    recommendations = health_recommendations(bmi)
    print(recommendations)
except ValueError:
    print("Invalid input. Please enter valid numeric values for weight and height.")

Enter your weight in kilograms: 75
Enter your height in meters: 5.6
Your BMI is 2.39
You are underweight. Consider gaining some weight for better health.

## Challenge Level:

31. Create a program that validates a password based on complexity rules (length, characters, etc.).

In [108]:
import re

# Function to validate a password
def is_valid_password(password):
    # Check password length (at least 8 characters)
    if len(password) < 8:
        return False

    # Check for at least one uppercase letter
    if not any(char.isupper() for char in password):
        return False

    # Check for at least one lowercase letter
    if not any(char.islower() for char in password):
        return False

    # Check for at least one digit
    if not any(char.isdigit() for char in password):
        return False

    # Check for at least one special character (e.g., !@#$%^&*())
    special_chars = r'[!@#$%^&*()]'
    if not re.search(special_chars, password):
        return False

    return True

# Input a password from the user
print("""password length must be greater than 8\n
Must contain uppercase letter\n

Must contain lowercase letter\n
Must contain atleast one digit\n
Must contain at least one special character\n""")
password = input("Enter a password: ")

# Validate the password
if is_valid_password(password):
    print("Password is valid.")
else:
    print("Password is invalid. Please ensure it meets the complexity rules.")

password length must be greater than 8

Must contain uppercase letter

Must contain lowercase letter

Must contain atleast one digit

Must contain at least one special character

Enter a password: abc&12cC4
Password is valid.

32. Develop a program that performs matrix addition and subtraction based on user input.

In [109]:
# Function to input a matrix from the user
def input_matrix(rows, cols):
    matrix = []
    for i in range(rows):
        row = []
        for j in range(cols):
            element = float(input(f"Enter element at row {i+1}, column {j+1}: "))
            row.append(element)
        matrix.append(row)
    return matrix

In [110]:
# Function to add two matrices
def add_matrices(matrix1, matrix2):
    if len(matrix1) != len(matrix2) or len(matrix1[0]) != len(matrix2[0]):
        return None  # Matrices must have the same dimensions for addition

    result = []
    for i in range(len(matrix1)):
        row = []
        for j in range(len(matrix1[0])):
            row.append(matrix1[i][j] + matrix2[i][j])
        result.append(row)
    return result

In [111]:
# Function to subtract two matrices
def subtract_matrices(matrix1, matrix2):
    if len(matrix1) != len(matrix2) or len(matrix1[0]) != len(matrix2[0]):
        return None  # Matrices must have the same dimensions for subtraction

    result = []
    for i in range(len(matrix1)):
        row = []
        for j in range(len(matrix1[0])):
            row.append(matrix1[i][j] - matrix2[i][j])
        result.append(row)
    return result

In [112]:
rows = int(input("Enter the number of rows: "))
cols = int(input("Enter the number of columns: "))


print("Enter elements for the first matrix:")
matrix1 = input_matrix(rows, cols)

print("Enter elements for the second matrix:")
matrix2 = input_matrix(rows, cols)

# Perform addition and subtraction
sum_matrix = add_matrices(matrix1, matrix2)
diff_matrix = subtract_matrices(matrix1, matrix2)

if sum_matrix is not None and diff_matrix is not None:
    # Display the results
    print("\nMatrix Addition Result:")
    for row in sum_matrix:
        print(row)

    print("\nMatrix Subtraction Result:")
    for row in diff_matrix:
        print(row)
else:
    print("Matrix dimensions are not compatible for addition and subtraction.")

Enter the number of rows: 3
Enter the number of columns: 4
Enter elements for the first matrix:
Enter element at row 1, column 1: 2
Enter element at row 1, column 2: 3
Enter element at row 1, column 3: 4
Enter element at row 1, column 4: 5
Enter element at row 2, column 1: 2
Enter element at row 2, column 2: 2
Enter element at row 2, column 3: 3
Enter element at row 2, column 4: 4
Enter element at row 3, column 1: 2
Enter element at row 3, column 2: 1
Enter element at row 3, column 3: 2
Enter element at row 3, column 4: 2
Enter elements for the second matrix:
Enter element at row 1, column 1: 1
Enter element at row 1, column 2: 3
Enter element at row 1, column 3: 4
Enter element at row 1, column 4: 3
Enter element at row 2, column 1: 1
Enter element at row 2, column 2: 2
Enter element at row 2, column 3: 3
Enter element at row 2, column 4: 4
Enter element at row 3, column 1: 3
Enter element at row 3, column 2: 1
Enter element at row 3, column 3: 4
Enter element at row 3, column 4: 4

Matrix Addition Result:
[3.0, 6.0, 8.0, 8.0]
[3.0, 4.0, 6.0, 8.0]
[5.0, 2.0, 6.0, 6.0]

Matrix Subtraction Result:
[1.0, 0.0, 0.0, 2.0]
[1.0, 0.0, 0.0, 0.0]
[-1.0, 0.0, -2.0, -2.0]

33. Write a program that calculates the greatest common divisor (GCD) of two numbers using the Euclidean
algorithm.

In [113]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

a,b = num1,num2

# Calculate the GCD using the Euclidean algorithm
while b:
    a, b = b, a % b


# Display the GCD
print(f"The Greatest Common Divisor (GCD) of {num1} and {num2} is {a}.")

Enter the first number: 10
Enter the second number: 20
The Greatest Common Divisor (GCD) of 10 and 20 is 10.

34. Build a program that performs matrix multiplication using nested loops and conditional statements.

In [114]:
# Function to input a matrix from the user
def input_matrix(rows, cols):
    matrix = []
    for i in range(rows):
        row = []
        for j in range(cols):
            element = float(input(f"Enter element at row {i+1}, column {j+1}: "))
            row.append(element)
        matrix.append(row)
    return matrix

In [115]:
def multiply_matrices(matrix1, matrix2):
    rows1, cols1 = len(matrix1), len(matrix1[0])
    rows2, cols2 = len(matrix2), len(matrix2[0])

    if cols1 != rows2:
        return None  # Matrices cannot be multiplied if the number of columns in the first matrix is not equal to the number of rows in the second matrix

    result = []
    for i in range(rows1):
        row = []
        for j in range(cols2):
            # Calculate the dot product of row i from matrix1 and column j from matrix2
            dot_product = 0
            for k in range(cols1):
                dot_product += matrix1[i][k] * matrix2[k][j]
            row.append(dot_product)
        result.append(row)

    return result

In [117]:
rows = int(input("Enter the number of rows for matrix1: "))
cols = int(input("Enter the number of columns for matrix1: "))

rows1 = int(input("Enter the number of rows for matrix2: "))
cols1 = int(input("Enter the number of columns for matrix2: "))


print("Enter elements for the first matrix:")
matrix1 = input_matrix(rows, cols)

print("Enter elements for the second matrix:")
matrix2 = input_matrix(rows1, cols1)

# Perform addition and subtraction
mul_matrix = add_matrices(matrix1, matrix2)


if mul_matrix is not None:
    print("\nMatrix Multiplication3 Result:")
    for row in mul_matrix:
        print(row)
else:
    print("Matrix dimensions are not compatible for addition and subtraction.")

Enter the number of rows for matrix1: 2
Enter the number of columns for matrix1: 2
Enter the number of rows for matrix2: 2
Enter the number of columns for matrix2: 2
Enter elements for the first matrix:
Enter element at row 1, column 1: 3
Enter element at row 1, column 2: 2
Enter element at row 2, column 1: 3
Enter element at row 2, column 2: 1
Enter elements for the second matrix:
Enter element at row 1, column 1: 3
Enter element at row 1, column 2: 4
Enter element at row 2, column 1: 1
Enter element at row 2, column 2: 2

Matrix Multiplication Result:
[6.0, 6.0]
[4.0, 3.0]

35. Create a program that simulates a basic text-based tic-tac-toe game against the computer.

36. Write a program that generates Fibonacci numbers up to a specified term using iterative methods.

In [119]:
n = int(input("enter the number upto which you want to generate fibonacci numbers : "))
num1 = 0
num2 = 1
next_number = num2
count = 1

while count <= n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()

enter the number upto which you want to generate fibonacci numbers : 10
1 2 3 5 8 13 21 34 55 89

37. Develop a program that calculates the nth term of the Fibonacci sequence using memoization.

In [120]:
def fibonacci(n):
    a = 0
    b = 1
    if n < 0:
        print("Incorrect input")
    elif n == 0:
        return a
    elif n == 1:
        return b
    else:
        for i in range(2, n):
            c = a + b
            a = b
            b = c
        return b

In [121]:
print(fibonacci(9))

21

38. Create a program that generates a calendar for a given month and year using conditional statements.

In [122]:
import calendar
y = int(input("Input the year : "))
m = int(input("Input the month : "))
print(calendar.month(y, m))

Input the year : 2023
Input the month : 09
   September 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

39. Build a program that simulates a basic text-based blackjack game against the computer.

40. Write a program that generates the prime factors of a given number using trial division.

In [124]:
def TrialDivision(N):

    # Initializing with the value 2
    # from where the number is checked
    i = 2

    # Computing the square root of
    # the number N
    k = int(N ** 0.5)

    # While loop till the
    # square root of N
    while(i<= k):

        # If any of the numbers between
        # [2, sqrt(N)] is a factor of N
        # Then the number is composite
        if(N % i == 0):
            return 0
        i += 1

    # If none of the numbers is a factor,
    # then it is a prime number
    return 1

In [125]:
N = int(input("enter the number: "))
p = TrialDivision(N)

# To check if a number is a prime or not
if(p):
    print("Prime")
else:
    print("Composite")

enter the number: 90
Composite

In [126]:
N = int(input("enter the number: "))
p = TrialDivision(N)

# To check if a number is a prime or not
if(p):
    print("Prime")
else:
    print("Composite")

enter the number: 51
Composite

In [127]:
N = int(input("enter the number: "))
p = TrialDivision(N)

# To check if a number is a prime or not
if(p):
    print("Prime")
else:
    print("Composite")

enter the number: 11
Prime