<a href="https://colab.research.google.com/github/akash-soni/Data_Science_masters_pro/blob/python/Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Basic Level:

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
lst = [10,30,53]
sum = 0
for i in range(len(lst)):
  sum += lst[i]

print("sum of list is ", sum)

sum of list is  93

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
input_string = "Hello"
print("order reversed")
for i in input_string[::-1]:
  print(i)

order reversed
o
l
l
e
H

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
number = 5
fact = 1
for i in range(1,number+1):
  fact *= i

print("factorial of given number is ",fact)

factorial of given number is  120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
input = eval(input("enter a number "))
product = 0
for i in range(1, 10+1):
  product = input * i
  print(f"{input} x {i} = {product}")

enter a number 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
lst = [34,53,45,43,67,2]
for i in range(len(lst)):
  if (lst[i] % 2 == 0):
    print(f"{lst[i]} is even")
  else:
    print(f"{lst[i]} is odd")

34 is even
53 is odd
45 is odd
43 is odd
67 is odd
2 is even

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range(1,5+1):
  print(f"square of {i} is {i*i} ")

square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25

8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
input = "hello"
length = 0
for _ in input:
  length += 1
print(f"length of string is {length}")

length of string is 5

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
lst = [23,45,34,23,56,32,12]
sum = 0
for i in range(len(lst)):
  sum += lst[i]

print(f"Average : {sum/len(lst)}")

Average : 32.142857142857146

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
a = 0
b = 1
input = 10
fib_sequence = []
for _ in range(input):
    fib_sequence.append(a)
    a, b = b, a + b
print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## Intermediate Level:

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
lst = [10,40,10,20,40,16,50,10]

dup = False
seen = set()
for i in lst:
  if i in seen:
    dup = True
  else:
    seen.add(i)

if dup:
  print("there are duplicates in list")

print(seen)

there are duplicates in list
{40, 10, 16, 50, 20}

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
lower = 40
upper = 100

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 40 and 100 are:
41
43
47
53
59
61
67
71
73
79
83
89
97

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
input = "count the vowels"

vowels =  ['a','e','i','o','u']

count = 0

for i in input:
  if i in vowels:
    count +=1

print(f"number of vowels in string {count}")

number of vowels in string 5

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
matrix = [[34,43,34],[34,36,76],[4,87,3]]

max = 0
for i in range(len(matrix)):
  for j in range(len(matrix[i])):
    if max <= matrix[i][j] :
      max = matrix[i][j]

print(f"largest number of 2D matrix is {max}")

largest number of 2D matrix is 87

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:

list = [10, 20, 10, 30, 10, 40, 10, 50]
n = 50

# print original list
print ("Original list:")
print (list)

for x in list:
    if x == n:
        list.remove(x)

print ("list after removing elements:")
print (list)

Original list:
[10, 20, 10, 30, 10, 40, 10, 50]
list after removing elements:
[10, 20, 10, 30, 10, 40, 10]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
for i in range(1,5+1):
  print(f"\nTABLE of {i}")
  product = 0
  for j in range(1, 10+1):
    product = i * j
    print(f"{i} x {j} = {product}")

TABLE of 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

TABLE of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

TABLE of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

TABLE of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

TABLE of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
# List of Fahrenheit temperatures
fahrenheit_temp = [32, 68, 100, 212]

celcius_temp = []
for i in fahrenheit_temp:
  celcius = (i-32) * 5/9
  celcius_temp.append(celcius)

print("fahrenheit_temperatures",fahrenheit_temp)
print("celcius_temperature", celcius_temp)

fahrenheit_temperatures [32, 68, 100, 212]
celcius_temperature [0.0, 20.0, 37.77777777777778, 100.0]

18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
lst1 = [10,30,60,90]
lst2 = [80,10,90,100,200]

common = []
for i in lst1:
  if i in lst2:
    common.append(i)

print(common)

[10, 90]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [ ]:
for i in range(1, 5+1):
  for j in range(1, i+1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
# Input two numbers from the user
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

a = num1
b = num2
while b:
    a, b = b, a % b

print(f"the GCD for {num1} and {num2} is {a}")

Enter the first number: 10
Enter the second number: 20
the GCD for 10 and 20 is 10

## Advanced Level:

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
# List of numbers
numbers = [123, 456, 789]


# printing original list
print("The original list is : " + str(numbers))

# Sum of number digits in List
# using sum() + list comprehension
res = list(map(lambda ele: sum(int(sub) for sub in str(ele)), numbers))

# printing result
print ("List Integer Summation : " + str(res))

The original list is : [123, 456, 789]
List Integer Summation : [6, 15, 24]

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

using normal for and while loop

In [21]:
# prime factors of given number
import math

input_number = int(input("enter the number : "))

n = input_number

# Print the number of two's that divide n
while n % 2 == 0:
    print(2)
    n = n / 2

#print(n)

# now check prime factors from 3 with increment of 2 as number will be odd now
for i in range(3,int(math.sqrt(n))+1,2):
    #print("i = ", i)
    # while i divides n , print i and divide n
    while n % i== 0:
        print(i)
        n = n / i


# Condition if n is a prime
# number greater than 2
if n > 2:
  print(n)

enter the number : 91
7
13.0

In [25]:
import math
def primes(number,n):
  # 1  compute divisors of 2
  # lets say n = 30  then lst will get [2] and loop will end as 15 is not divisible by 2
  lst = [2 for _ in iter(lambda: n % 2 == 0, False) if not n % (n:= n / 2)]
  # above loop will also  updating n
  # so now we have value of 15

  # this loop will now check odd values starting with 3 and increment of 2
  # for every value value of i it would check n%i==0 or not then update n=n/i and check whether i now divides or not
  primes = [i for i in range(3,int(math.sqrt(n))+1,2) for _ in iter(lambda : n % i == 0, False) if not n % (n:=n/i)]

  lst.extend(primes)
  lst.append(n)
  print(f"prime factors of {number} are {lst} ")

In [26]:
number = int(input("enter the number "))
n = number
primes(number,n)

enter the number 91
prime factors of 91 are [7, 13.0]

In [28]:
number = int(input("enter the number "))
n = number
primes(number,n)

enter the number 100
prime factors of 100 are [2, 2, 5, 5, 1.0]

In [29]:
number = int(input("enter the number "))
n = number
primes(number,n)

enter the number 1
prime factors of 1 are [1]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [ ]:
# for loop code
original_list = [99,1, 2, 2, 3, 4, 4, 5, 6, 6, 4,99]
for i, x in enumerate(original_list):
  print(i,x)
  if x not in original_list[:i]:
    print(x)

In [37]:
# list comprehension
# Original list
original_list = [99,1, 2, 2, 3, 4, 4, 5, 6, 6, 4,99]

unique_list = [x for i, x in enumerate(original_list) if x not in original_list[:i]]

print(unique_list)

[99, 1, 2, 3, 4, 5, 6]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [54]:
# normal with reversal method
for i in range(90,112+1):
  num=i
  r=0
  digit=0
  while num != 0:
    digit = num%10
    r = r*10+digit
    num //=10
  if i == r:
    print("palindromic ",i,r)

palindromic  99 99
palindromic  101 101
palindromic  111 111

In [56]:
# palindromic numbers in give method using list comprehension
lst = [i for i in range(90,112+1) if str(i)==str(i)[::-1]]

[99, 101, 111]

25. Write a program to flatten a nested list using list comprehension.

In [62]:
lst = [[1,2,3],[4,5,6],[7,8,9]]
flatten_lst = [element for i in lst for element in i]
flatten_lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [63]:
import numpy as np
lst = [39,22,34,55,77,2,3,4,5,7,8,2]
even_sum = np.sum([even for even in lst if even%2 == 0])
odd_sum = np.sum([even for even in lst if even%2 == 1])
print(f"sum of even numbers is {even_sum}, sum of odd numbers is {odd_sum}")

sum of even numbers is 72, sum of odd numbers is 186

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [67]:
# square of numbers from 1 to 10
 [(lambda sqr : sqr**2 )(sqr) for sqr in range(1,10+1)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [73]:

lst1 = ['a','b','c','d','e']
lst2 = [1,2,3,4,5]

dict = {}
dict = {lst1[i]:lst2[i] for i in range(len(lst1) ) }
dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [1]:
input = input("enter the string: ")
vowels = ['a','e','i','o','u']

vowels_sent = [letter for letter in input if letter.lower() in vowels]
vowels_sent

enter the string: find vowels in the string

['i', 'o', 'e', 'i', 'e', 'i']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [2]:
# List of strings
string_list = ["abc123", "456def", "ghi789", "jkl"]

# Remove non-numeric characters using list comprehension
numeric_strings = [''.join(char for char in s if char.isdigit()) for s in string_list]

# Print the resulting list of numeric strings
print("List of numeric strings:", numeric_strings)

List of numeric strings: ['123', '456', '789', '']

## Challenge Level:

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [3]:
def SieveOfEratosthenes(num):
    prime = [True for i in range(num+1)]
# boolean array
    p = 2
    while (p * p <= num):

        # If prime[p] is not
        # changed, then it is a prime
        if (prime[p] == True):

            # Updating all multiples of p
            for i in range(p * p, num+1, p):
                prime[i] = False
        p += 1

    # Print all prime numbers
    for p in range(2, num+1):
        if prime[p]:
            print(p)

In [4]:
SieveOfEratosthenes(30)

2
3
5
7
11
13
17
19
23
29

In [6]:
num = 30

prime = [True for _ in range(num + 1)]
p = 2

# check if the square < num
while p * p <= num:
    if prime[p]:
        # We use slicing prime[p * p::p] to efficiently mark all multiples of p as False
        prime[p * p::p] = [False] * len(range(p * p, num + 1, p))
    p += 1

prime_numbers = [p for p in range(2, num + 1) if prime[p]]
print("Prime numbers:", prime_numbers)

Prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [7]:
prime

[True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension

A Pythagorean triplet is a set of three positive integers a, b and c such that a2 + b2 = c2. Given a limit, generate all Pythagorean Triples with values smaller than given limit.

- Input : limit = 20

- Output :
         3 4 5   -> 3**2 + 4**2 = 5**2
         8 6 10   -> 8**2  + 6**2 = 10**2
         5 12 13   -> ..
         15 8 17   -> ..
         12 16 20  -> ..

Pythogorean formula for time complexity of O(k)
- formula :
        a = m**2 - n**2
        b = 2 * m * n
        c  = m**2 + n**2

The idea is to use square sum relation of Pythagorean triplet, i.e., addition of squares of a and b is equal to square of c, we can write these number in terms of m and n such that

this will work till the limit which we have set

In [9]:
limit= 20
c=0
m=2
while(c<limit):
    for n in range(1,m+1):
        a=m*m-n*n
        b=2*m*n
        c=m*m+n*n
        if(c>limit):
            break
        if(a==0 or b==0 or c==0):
            break

        print(a,b,c)
    m=m+1

3 4 5
8 6 10
5 12 13
15 8 17
12 16 20

In [10]:
limit = 20
triplets = []

m = 2

while True:
    triplets.extend([(m * m - n * n, 2 * m * n, m * m + n * n) for n in range(1, m + 1) if (m * m + n * n) <= limit and not (m * m - n * n == 0 or 2 * m * n == 0 or m * m + n * n == 0)])

    m += 1
    if m >= limit:
        break

# Print the generated triplets
for triplet in triplets:
    print(triplet)

(3, 4, 5)
(8, 6, 10)
(5, 12, 13)
(15, 8, 17)
(12, 16, 20)

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [11]:
# Two example lists
list1 = [1, 2]
list2 = ['a', 'b', 'c']

# Generate all possible combinations using list comprehensions
combinations = [(x, y) for x in list1 for y in list2]

# Print the list of combinations
print("All possible combinations:")
print(combinations)

All possible combinations:
[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c')]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [13]:
# MEDIAN
def median(lst):
  # Sort the list
  sorted_lst = sorted(lst)

  # Find the median using list comprehension
  n = len(sorted_lst)

  if n % 2 == 1:
      median = sorted_lst[n // 2]
  else:
      middle1 = sorted_lst[(n // 2) - 1]
      middle2 = sorted_lst[n // 2]
      median = (middle1 + middle2) / 2

  # Print the median
  print("Median:", median)

# MODE
def mode(lst):
  # Create a dictionary to count occurrences using list comprehension
  count_dict = {x: lst.count(x) for x in lst}

  # Find the number(s) with the maximum count using list comprehension
  max_count = max(count_dict.values())
  mode = [num for num, count in count_dict.items() if count == max_count]

  # Print the mode
  print("Mode:", mode)

In [16]:
lst = [10,2,30,40,50,40]

# MEAN
mean = sum([x for x in lst ])/len(lst)
print(mean)
median(lst)
mode(lst)

28.666666666666668
Median: 35.0
Mode: [40]

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [17]:
def pascal_triangle(n):
   for i in range(n+1):
      for j in range(n-i):
         print(' ', end='')

      C = 1
      for j in range(1, i+1):
         print(C, ' ', sep='', end='')
         C = C * (i - j) // j
      print()

n = 5
pascal_triangle(n)

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [22]:
# Function to calculate factorial
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Calculate the sum of digits of factorial for numbers from 1 to 5 using list comprehension
sums_of_digits = [sum(map(int, str(factorial(i)))) for i in range(1, 5+1)]

# Print the results
for i, sum_digits in enumerate(sums_of_digits, start=1):
    print(f"Sum of digits of {i}! = {sum_digits}")

Sum of digits of 1! = 1
Sum of digits of 2! = 2
Sum of digits of 3! = 6
Sum of digits of 4! = 6
Sum of digits of 5! = 3

37. Write a program that finds the longest word in a sentence using list comprehension.

In [1]:
# Input sentence
sentence = input("Enter a sentence: ")

# Split the sentence into words
words = sentence.split()

# Find the longest word using list comprehension
longest_word = max(words, key=lambda word: len(word))

# Print the longest word
print("Longest word:", longest_word)

Enter a sentence: find the longest word
Longest word: longest

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [3]:
sentence = "this is sentence to find the string which contains more than three vowels aeiou"
string_list = sentence.split()


# Function to count vowels in a string
def count_vowels(s):
    vowels = "aeiou"
    return sum(1 for char in s if char.lower() in vowels)

# Filter strings with more than three vowels using list comprehension
filtered_list = [s for s in string_list if count_vowels(s) > 3]

# Print the filtered list
print("Strings with more than three vowels:", filtered_list)

Strings with more than three vowels: ['aeiou']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [4]:


# Calculate the sum of digits for numbers from 1 to 1000 using list comprehension
sums_of_digits = [sum(int(digit) for digit in str(i)) for i in range(1, 1001)]

# Calculate the total sum of the sums_of_digits list
total_sum = sum(sums_of_digits)

# Print the total sum
print("Total Sum of Digits for Numbers 1 to 1000:", total_sum)

Total Sum of Digits for Numbers 1 to 1000: 13501

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [5]:
# Function to check if a number is prime
def is_prime(n):
    if n <= 1:
        return False
    if n == 2:
        return True
    if n % 2 == 0:
        return False
    for i in range(3, int(n**0.5) + 1, 2):
        if n % i == 0:
            return False
    return True

# Function to check if a number is palindromic
def is_palindrome(n):
    return str(n) == str(n)[::-1]

# Generate a list of prime palindromic numbers using list comprehension
prime_palindromes = [n for n in range(1, 1001) if is_prime(n) and is_palindrome(n)]

# Print the list of prime palindromic numbers
print("Prime Palindromic Numbers:")
print(prime_palindromes)

Prime Palindromic Numbers:
[2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]